In [1]:
# from english_words import english_words_set\
# import multiprocessing as mp
# import warnings
import pandas as pd
# import numpy as np

In [2]:
f = open('data/guesses.txt','r')
guesses = []

for line in f:
    guesses.append(line.strip())

print(str(len(guesses)))

12972

In [3]:
words5 = guesses

In [4]:
# this should be an empty list, checking to be sure we do not have non alpha chars in the words
print([i for i in words5 if not i.isalpha()])

[]

In [5]:
len(words5)

12972

In [6]:
value_set = pd.read_csv('data/rank_set.csv')

In [7]:
value_set.head()

,Unnamed: 0,guess,score_match,score_exact_match,solution,double,total_score
0,0,aahed,3973.0,118.0,NaN,True,4091.0
1,1,aalii,4019.0,269.0,NaN,True,4288.0
2,2,aargh,3557.0,90.0,NaN,True,3647.0
3,3,aarti,4257.0,140.0,NaN,True,4397.0
4,4,abaca,3695.0,511.0,NaN,True,4206.0

In [13]:
value_no_doubles = (value_set.loc[(value_set['double']!=True)])
# value_no_doubles = (value_no_doubles.loc[(value_no_doubles['solution']==True)])

In [14]:
value_no_doubles

,Unnamed: 0,guess,score_match,score_exact_match,solution,double,total_score
26,26,abers,4061.0,133.0,NaN,NaN,4194.0
27,27,abets,3891.0,125.0,NaN,NaN,4016.0
28,28,abhor,3302.0,101.0,True,NaN,3403.0
29,29,abide,3557.0,215.0,True,NaN,3772.0
30,30,abies,3833.0,159.0,NaN,NaN,3992.0
...,...,...,...,...,...,...,...
12966,12966,zurfs,2305.0,97.0,NaN,NaN,2402.0
12968,12968,zygal,2474.0,103.0,NaN,NaN,2577.0
12969,12969,zygon,2105.0,69.0,NaN,NaN,2174.0
12970,12970,zymes,2683.0,62.0,NaN,NaN,2745.0
12971,12971,zymic,1929.0,54.0,NaN,NaN,1983.0

In [15]:
print('strongest start suggestion')
print (value_no_doubles['guess'][value_no_doubles['total_score'].idxmax()])
print (value_no_doubles['total_score'][value_no_doubles['total_score'].idxmax()])

strongest start suggestion
soare
4947.0

In [16]:
large_ranks_dataset_no_dup = 'large_rank_no_doubles'
large_ranks_dataset = 'large_word_ranks'
df_word_ranks = pd.read_csv(large_ranks_dataset)
df_word_ranks_no_doubles = pd.read_csv(large_ranks_dataset_no_dup)

In [17]:
df_ranks = df_word_ranks[['guess','score_match','score_exact_match','solution','double']].copy()

In [18]:
df_ranks['total_score'] = (df_ranks['score_match'] + df_ranks['score_exact_match'])

In [19]:
df_ranks.head()

   guess  score_match  score_exact_match solution double  total_score
0  aahed       3973.0              118.0      NaN   True       4091.0
1  aalii       4019.0              269.0      NaN   True       4288.0
2  aargh       3557.0               90.0      NaN   True       3647.0
3  aarti       4257.0              140.0      NaN   True       4397.0
4  abaca       3695.0              511.0      NaN   True       4206.0

In [20]:
df_ranks.to_csv('data/rank_set.csv')

In [21]:
print('strongest start suggestion')
print (df_ranks['guess'][df_ranks['total_score'].idxmax()])
print (df_ranks['total_score'][df_ranks['total_score'].idxmax()])

strongest start suggestion
resee
5923.0

In [22]:
print (df_ranks['guess'][df_ranks['total_score'].idxmax()])
print (df_ranks['total_score'][df_ranks['total_score'].idxmax()])

resee
5923.0

In [23]:
print(df_ranks.head())
print('strongest start suggestion')
print (df_ranks['guess'][df_ranks['total_score'].idxmax()])
print (df_ranks['total_score'][df_ranks['total_score'].idxmax()])

   guess  score_match  score_exact_match solution double  total_score
0  aahed       3973.0              118.0      NaN   True       4091.0
1  aalii       4019.0              269.0      NaN   True       4288.0
2  aargh       3557.0               90.0      NaN   True       3647.0
3  aarti       4257.0              140.0      NaN   True       4397.0
4  abaca       3695.0              511.0      NaN   True       4206.0
strongest start suggestion
resee
5923.0

In [24]:
def remove_notcontains(grey,df):
    df_sub = df
    for l in grey:
        df_sub = (df_sub.loc[(~df_sub['guess'].str.contains(l))])
    return df_sub

def remove_by_contains(letters,df):
    df_sub = df
    for l in letters:
        df_sub = (df_sub.loc[(df_sub['guess'].str.contains(l))])
    return df_sub

def remove_by_location(loc,letter,df):
    df_sub = df
    loc = loc # for easier use 0 is positon 1
    for l in letter:
        df_sub = (df_sub.loc[(df_sub['guess'].str[loc]==l)])
    return df_sub

def remove_by_not_location(loc,letter,df):
    df_sub = df
    loc = loc # for easier use 0 is positon 1
    for l in letter:
        df_sub = (df_sub.loc[(df_sub['guess'].str[loc]!=l)])
    return df_sub
    
def remove_by_letter_count(letter,count,df):
    df_sub = df
    for l in letter:
        df_sub = (df_sub.loc[(df_sub['guess'].str.count(letter)==count)])
    return df_sub

here is the game aid loop

In [25]:
df = value_no_doubles

In [26]:
example_result = {'i0': ['present', '0'],
 'n1': ['absent', '1'],
 'l2': ['present', '2'],
 'e3': ['absent', '3'],
 't4': ['correct', '4']}

# result = example_result

In [31]:
example_result_1 = {'l0': ['correct', '0'],
 'i1': ['correct', '1'],
 'a2': ['absent', '2'],
 'r3': ['absent', '3'],
 't4': ['correct', '4']}

In [35]:
example_result_2 = {'l0': ['correct', '0'],
 'i1': ['correct', '1'],
 'c2': ['absent', '2'],
 'h3': ['correct', '3'],
 't4': ['correct', '4']}

In [36]:
# evaluate loop
def next_guess(result, df):
    for v in result:
        letter = v[0] 
        status = result[v][0]
        placement = int(result[v][1])
        if status == 'correct':
            print('correct')
            df = remove_by_contains(letter,df)
            df = remove_by_location(placement,letter,df)
        elif status == 'present':
            print('present')
            df = remove_by_contains(letter,df)
        elif status == 'absent':
            print('absent')
            df = remove_notcontains(letter,df)

    return df

In [40]:
df_results = next_guess(example_result_2, df)

correct
correct
absent
correct
correct

In [41]:
df_results.head()

,Unnamed: 0,guess,score_match,score_exact_match,solution,double,total_score
6289,6289,light,2819.0,106.0,True,NaN,2925.0

In [42]:
max_val_guess = (df_results['guess'][df_results['total_score'].idxmax()])
max_val_guess

'light'

In [ ]:
df_results.head()

In [ ]:
max_val_guess = (df['guess'][df['total_score'].idxmax()])

In [ ]:
df = df_ranks


for v in result:
    letter = v 
    status = result[v][0]
    placement = result[v][1]
    if status == 'correct':
        print('correct')
        df = remove_by_contains(letter,df)
        df = remove_by_location(placement,letter,df)
    elif status == 'present':
        print('present')
        df = remove_by_contains(letter,df)
    elif status == 'absent':
        print('absent')
        df = remove_notcontains(letter,df)

In [ ]:
# make the testing loop
# starting DF df_word_ranks

# show results and sort non-doubles over doubles after score value

round = 0
word = ''
df_options = df_ranks

print('strongest start suggestion')
print (df_ranks['guess'][df_ranks['total_score'].idxmax()])
print (df_ranks['total_score'][df_ranks['total_score'].idxmax()])

go = 'go'

while go != 'no':
    round += 1 
    if round == 1:

        print('initial guess')
        word = input('enter your guess:')
        pass

    if round > 1:

        print(str(round))

        not_char = input('enter eliminated letters:[l,e,t,t,e,r]')
        is_char = input('enter confirmed letters:[y,e,s]')
        loc_letters = input('enter confirmed locations: [letter,location]')
        dup_letters = input('enter known letter counts: [letter,count]')
        not_loc_letters = input('for known letters, where are they not located? : [letter,count]')

        # eliminate options, and show the reduced best 5 choices
        if len(not_char)>0:
            df_options = remove_notcontains(not_char,df_options)

        if len(is_char)>0:
            df_options = remove_by_contains(is_char,df_options)
            if len(not_loc_letters) >0:
                for i in range(0,int(len(not_loc_letters)),2):
                    df_options = remove_by_not_location(loc=int(not_loc_letters[i+1]),letter=str(not_loc_letters[i]),df=df_options)

        if len(loc_letters)>0:
            # remove by letters in correct location
            for i in range(0,int(len(loc_letters)),2):
                df_options = remove_by_location(loc=int(loc_letters[i+1]),letter=str(loc_letters[i]),df=df_options)
        
        if len(dup_letters)>0:
            # remove by letters in correct location
            for i in range(0,int(len(loc_letters)),2):
                df_options = remove_by_letter_count(loc=int(dup_letters[i+1]),letter=str(dup_letters[i]),df=df_options)
        
        try:
            next_best = (df_options['guess'][df_options['total_score'].idxmax()])
            print('from the results of the last guess')
            print('next best option is ' + str(next_best))
            print('your top remaiing options are: ')
            print(df_options.nlargest(3, 'total_score'))
        except:
            print('message')
            print(df_options.head())
            pass
    
    
        go = input('go again?:')

    print(str(round))

In [ ]:
#  this can be improved by confiming the number of letters in a word, 'wince' has one E and this was confirmed
# use this to elimate more from the pool when the information is availible