In [1]:
from english_words import english_words_set
import pandas as pd
import numpy as np

In [2]:
# make a list of 5 lenght words without non-alphas, and no proper nouns
words5 = []

for word in english_words_set:
    if len(word) == 5 and word[0].islower() and word.isalpha():
        words5.append(word)

In [3]:
# this should be an empty list, checking to be sure we do not have non alpha chars in the words
print([i for i in words5 if not i.isalpha()])

[]

In [4]:
df_words = pd.DataFrame(words5)
df_words.columns=['words']

In [5]:
df_words['first'] = df_words['words'].str.slice(0,1)
df_words['second'] = df_words['words'].str.slice(1,2)
df_words['third'] = df_words['words'].str.slice(2,3)
df_words['fourth'] = df_words['words'].str.slice(3,4)
df_words['fifth'] = df_words['words'].str.slice(4,5)

In [6]:
df_words.head()

   words first second third fourth fifth
0  edict     e      d     i      c     t
1  alive     a      l     i      v     e
2  boson     b      o     s      o     n
3  crony     c      r     o      n     y
4  labia     l      a     b      i     a

In [7]:
aplhas = ['a','b','c','d','e','f','g','h','i','j','k','l','m','n','o','p','q','r','s','t','u','v','w','x','y','z']

In [8]:
dfalpha = pd.DataFrame(aplhas)
dfalpha.columns = ['letters']
dfalpha.set_index('letters', inplace=True)

In [9]:
# build the frequerncy table from each smaller dataframe
df_counts = df_words['first'].value_counts()
df_counts_second = df_words['second'].value_counts()
df_counts_third = df_words['third'].value_counts()
df_counts_fourth = df_words['fourth'].value_counts()
df_counts_fifth = df_words['fifth'].value_counts()

dfranks = pd.concat([dfalpha, df_counts], axis=1)
dfranks = pd.concat([dfranks, df_counts_second], axis=1)
dfranks = pd.concat([dfranks, df_counts_third], axis=1)
dfranks = pd.concat([dfranks, df_counts_fourth], axis=1)
dfranks = pd.concat([dfranks, df_counts_fifth], axis=1)

In [10]:
dfranks.head()

   first  second  third  fourth  fifth
a    157     334    334   199.0   93.0
b    203      18     56    25.0   10.0
c    224      42     61   162.0   41.0
d    107      19     78    74.0  110.0
e     72     262    197   261.0  468.0

In [11]:
dfranks['first']['a']

157

In [12]:
def freq_ranking(word):
    val = dfranks['first'][word[0]] + dfranks['second'][word[1]] +dfranks['third'][word[2]] + dfranks['fourth'][word[3]] +dfranks['fifth'][word[4]]
    return val

In [13]:
df_word_ranks = pd.DataFrame({'word' : [],'value':[]})

In [14]:
word_freq = {'word':'value'}
for word in words5:
    df_word_ranks.loc[len(df_word_ranks.index), 'word'] = word
    df_word_ranks.loc[len(df_word_ranks.index)-1, 'value'] = freq_ranking(word)

In [15]:
df_word_ranks.head()

    word   value
0  edict   784.0
1  alive  1150.0
2  boson   879.0
3  crony  1308.0
4  labia   764.0

In [16]:
df_word_ranks.to_csv('word_ranks')

In [17]:
print (df_word_ranks['word'][df_word_ranks['value'].idxmax()])
print (df_word_ranks['value'][df_word_ranks['value'].idxmax()])

slate
1569.0

In [18]:
# here we determine the next best word based on results of the best word per wordle feedback
# how to determine which items were elimiated
#  ~ before a contains statement makes it a "not" I was lucky to find this
display(df_word_ranks.loc[(~df_word_ranks['word'].str.contains('t'))])

       word   value
1     alive  1150.0
2     boson   879.0
3     crony  1308.0
4     labia   764.0
5     gourd   906.0
...     ...     ...
2462  gouge  1165.0
2464  found   917.0
2465  virus   586.0
2466  shelf   944.0
2469  navel   862.0

[1741 rows x 2 columns]

In [19]:
grey = ['s','l','a','t','e']

In [20]:
df_sub = df_word_ranks
for l in grey:
    print(l)
    print(str(len(df_sub.index)))
    df_sub = (df_sub.loc[(~df_sub['word'].str.contains(l))])
df_sub

s
2470
l
1780
a
1240
t
738
e
495

       word   value
3     crony  1308.0
5     gourd   906.0
13    munch   803.0
38    grind   954.0
39    ruddy   817.0
...     ...     ...
2414  quirk   799.0
2425  mummy   843.0
2448  brink  1040.0
2450  bongo   816.0
2464  found   917.0

[238 rows x 2 columns]

In [21]:
print (df_sub['word'][df_sub['value'].idxmax()])
print (df_sub['value'][df_sub['value'].idxmax()])

crony
1308.0

In [22]:
def remove_notcontains(grey,df):
    df_sub = df
    for l in grey:
        df_sub = (df_sub.loc[(~df_sub['word'].str.contains(l))])
    return df_sub

In [23]:
def remove_by_contains(letters,df):
    df_sub = df
    for l in letters:
        df_sub = (df_sub.loc[(df_sub['word'].str.contains(l))])
    return df_sub

In [24]:
def remove_by_location(loc,letter,df):
    df_sub = df
    for l in letter:
        df_sub = (df_sub.loc[(df_sub['word'].str[loc]==l)])
    return df_sub

In [25]:
confirmed = 'cr'

In [ ]:
# make the testing loop
# starting DF df_word_ranks

round = 0
df_options = df_word_ranks

print('strongest suggestions')
print(df_options.nlargest(3, 'value'))
go = 'go'

while go != 'no':
    round += 1 
    if round == 1:

        print('initial guess')
        word = input('enter your guess:')
        pass

    if round > 1:

        print(str(round))

        not_char = input('enter eliminated letters:[l,e,t,t,e,r]')
        is_char = input('enter confirmed letters:[y,e,s]')
        loc_letters = input('enter confirmed locations: [letter,location]')

        # eliminate options, and show the reduced best 5 choices
        if len(not_char)>0:
            df_options = remove_notcontains(not_char,df_options)

        if len(is_char)>0:
            df_options = remove_by_contains(is_char,df_options)

        if len(loc_letters)>0:
            # remove by letters in correct location
            for i in range(0,int(len(loc_letters)),2):
                df_options = remove_by_location(loc=int(loc_letters[i+1]),letter=str(loc_letters[i]),df=df_options)

        try:
            next_best = (df_options['word'][df_options['value'].idxmax()])
            print('from the results of the last guess')
            print('next best option is ' + str(next_best))
            print('your top remaiing options are: ')
            print(df_options.nlargest(3, 'value'))
        except:
            print('e message')
            print(df_options.head())
            pass
    
        go = input('go again?:')
    # go = input('go again?:')
    print(str(round))

In [ ]:
#  this can be improved by confiming the number of letters in a word, 'wince' has one E and this was confirmed
# use this to elimate more from the pool when the information is availible