In [1]:
from english_words import english_words_set
import pandas as pd
import numpy as np

In [7]:
# make a list of 5 lenght words without non-alphas, and no proper nouns
words5 = []

for word in english_words_set:
    if len(word) == 5 and word[0].islower() and word.isalpha():
        words5.append(word)

In [8]:
# this should be an empty list, checking to be sure we do not have non alpha chars in the words
print([i for i in words5 if not i.isalpha()])

[]

In [18]:
df_words = pd.DataFrame(words5)
df_words.columns=['words']

In [31]:
df_words['first'] = df_words['words'].str.slice(0,1)
df_words['second'] = df_words['words'].str.slice(1,2)
df_words['third'] = df_words['words'].str.slice(2,3)
df_words['fourth'] = df_words['words'].str.slice(3,4)
df_words['fifth'] = df_words['words'].str.slice(4,5)

In [33]:
df_words.head()

   words first second third fourth fifth
0  llama     l      l     a      m     a
1  chaos     c      h     a      o     s
2  monad     m      o     n      a     d
3  madam     m      a     d      a     m
4  annoy     a      n     n      o     y

In [74]:
aplhas = ['a','b','c','d','e','f','g','h','i','j','k','l','m','n','o','p','q','r','s','t','u','v','w','x','y','z']

In [75]:
dfalpha = pd.DataFrame(aplhas)
dfalpha.columns = ['letters']
dfalpha.set_index('letters', inplace=True)

In [76]:
# build the frequerncy table from each smaller dataframe
df_counts = df_words['first'].value_counts()
df_counts_second = df_words['second'].value_counts()
df_counts_third = df_words['third'].value_counts()
df_counts_fourth = df_words['fourth'].value_counts()
df_counts_fifth = df_words['fifth'].value_counts()

dfranks = pd.concat([dfalpha, df_counts], axis=1)
dfranks = pd.concat([dfranks, df_counts_second], axis=1)
dfranks = pd.concat([dfranks, df_counts_third], axis=1)
dfranks = pd.concat([dfranks, df_counts_fourth], axis=1)
dfranks = pd.concat([dfranks, df_counts_fifth], axis=1)

In [89]:
dfranks.head()

   first  second  third  fourth  fifth
a    157     334    334   199.0   93.0
b    203      18     56    25.0   10.0
c    224      42     61   162.0   41.0
d    107      19     78    74.0  110.0
e     72     262    197   261.0  468.0

In [90]:
dfranks['first']['a']

157

In [95]:
def freq_ranking(word):
    val = dfranks['first'][word[0]] + dfranks['second'][word[1]] +dfranks['third'][word[2]] + dfranks['fourth'][word[3]] +dfranks['fifth'][word[4]]
    return val

In [136]:
df_word_ranks = pd.DataFrame({'word' : [],'value':[]})

In [137]:
word_freq = {'word':'value'}
for word in words5:
    df_word_ranks.loc[len(df_word_ranks.index), 'word'] = word
    df_word_ranks.loc[len(df_word_ranks.index)-1, 'value'] = freq_ranking(word)

In [138]:
df_word_ranks.head()

    word  value
0  llama  813.0
1  chaos  924.0
2  monad  895.0
3  madam  789.0
4  annoy  902.0

In [147]:
df_word_ranks.to_csv('word_ranks')

In [146]:
print (df_word_ranks['word'][df_word_ranks['value'].idxmax()])
print (df_word_ranks['value'][df_word_ranks['value'].idxmax()])

slate
1569.0

In [ ]:
# here we determine the next best word based on results of the best word per wordle feedback