In [1]:
import pandas as pd

In [2]:
csv = 'guess_value_iterations_guesses.csv'
doubles = 'double_letters.csv'
solutions = 'solutions.csv'

In [3]:
df_guesses = pd.read_csv(csv)
df_doubles = pd.read_csv(doubles)
df_solutions = pd.read_csv(solutions)

In [4]:
df_solutions.columns=['guess']
df_solutions['solution'] = True

In [5]:
sums = df_guesses.groupby(['guess'])['score_match','score_exact_match'].sum().reset_index()

/tmp/ipykernel_2116637/3291066838.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  sums = df_guesses.groupby(['guess'])['score_match','score_exact_match'].sum().reset_index()

In [6]:
sums.sort_values(by=['score_match','score_exact_match'],ascending=False).head()

      guess  score_match  score_exact_match
502   areae       5323.0              419.0
3301  eerie       5269.0              413.0
9113  resee       5267.0              656.0
8908  raree       5243.0              554.0
514   arere       5243.0              408.0

In [7]:
sums = sums.merge(df_solutions,how='left',left_on='guess',right_on='guess')

In [8]:
df_word_ranks = sums.merge(df_doubles,how='left',left_on='guess',right_on='guess')

In [9]:
print(df_word_ranks.head())
index = df_word_ranks.index
number_of_rows = len(index)
print(number_of_rows)
df_word_ranks.to_csv('large_word_ranks')

   guess  score_match  score_exact_match solution  Unnamed: 0 double
0  aahed       3973.0              118.0      NaN       749.0   True
1  aalii       4019.0              269.0      NaN       750.0   True
2  aargh       3557.0               90.0      NaN       751.0   True
3  aarti       4257.0              140.0      NaN       752.0   True
4  abaca       3695.0              511.0      NaN       753.0   True
12972

In [10]:
df_word_ranks.sort_values(by=['score_match','score_exact_match'],ascending=False).head()

      guess  score_match  score_exact_match solution  Unnamed: 0 double
502   areae       5323.0              419.0      NaN       955.0   True
3301  eerie       5269.0              413.0     True       191.0   True
9113  resee       5267.0              656.0      NaN      3374.0   True
8908  raree       5243.0              554.0      NaN      3292.0   True
514   arere       5243.0              408.0      NaN       964.0   True

In [11]:
rank_no_doubles = (df_word_ranks.loc[(df_word_ranks['double']!=True)])

In [12]:
rank_no_doubles['total_score'] = rank_no_doubles['score_match']+rank_no_doubles['score_exact_match']

/tmp/ipykernel_2116637/2662046364.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rank_no_doubles['total_score'] = rank_no_doubles['score_match']+rank_no_doubles['score_exact_match']

In [13]:
rank_no_doubles.sort_values(by=['total_score'],ascending=False).head()

,guess,score_match,score_exact_match,solution,Unnamed: 0,double,total_score
10364,soare,4534.0,413.0,NaN,NaN,NaN,4947.0
9247,roate,4594.0,334.0,NaN,NaN,NaN,4928.0
7628,oater,4594.0,325.0,NaN,NaN,NaN,4919.0
11067,taler,4559.0,359.0,NaN,NaN,NaN,4918.0
7778,orate,4594.0,319.0,NaN,NaN,NaN,4913.0

In [14]:
print(rank_no_doubles.head())
index = rank_no_doubles.index
number_of_rows = len(index)
print(number_of_rows)
rank_no_doubles.to_csv('large_rank_no_doubles')

    guess  score_match  score_exact_match solution  Unnamed: 0 double  \
26  abers       4061.0              133.0      NaN         NaN    NaN
27  abets       3891.0              125.0      NaN         NaN    NaN
28  abhor       3302.0              101.0     True         NaN    NaN
29  abide       3557.0              215.0     True         NaN    NaN
30  abies       3833.0              159.0      NaN         NaN    NaN

    total_score
26       4194.0
27       4016.0
28       3403.0
29       3772.0
30       3992.0
8322